<p>course-details</p>
<div class="courses-container">
    <mat-accordion>
        @for (course of (allCourses$|async) ; track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title style="display: flex;
                  justify-content: space-between;
                  width:100%">
                    Course name: {{course.title}}
                    <button mat-raised-button color="primary" class="one-button" (click)="addCourseToUser(course.id)">
                        Add course
                    </button>
                    <button mat-raised-button color="primary" class="one-button" (click)="deleteCourse(course.id)">
                        Delete course
                    </button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>{{course.description}}</div>
        </mat-expansion-panel>
        }
    </mat-accordion>
</div>